* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html body {
  width:100%;
}

/*【ヘッダーの設定】ここから------------------------------------- */


header {
  height:65px;
  background-color:rgb(199,199,199);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  margin-bottom:20px;
}

.member-container h2 {
  margin-left:7px;
}

.member-container h5 {
  margin-left:7px;
  font-weight:normal;
}

.header-left {
  float:left;
}

.header-left > a {
  display:block;
}

.header-right  li {
  list-style: none;
  float:left;
  margin-right:60px;
  font-size:20px;
}

.header-right a {
  text-decoration: none;
  display:block;
  line-height:65px;
  padding:0 5px;
  color:black;
}

.header-right a:hover {
  color:white;
  transition: all 1s;
}

.header-right {
  float: right;
}

.header-logo {
  margin-left:10px;
  margin-top:3px;
}

/*【ヘッダーの設定】ここまで --------------------------------------*/



/* 【ボディの設定】ここから -----------------------------------*/

main {
  display:flex;
  flex-wrap:wrap;
}

.box {
  width: calc(30%);
  /* ↓設定次第では不要かも？？ */
  /* height:430px; */
  /* ↑設定次第では不要かも？ */
  margin:15px;
  padding:8px;
  box-shadow: 0 0 3px #aaa;
  position: relative;
}


.box > img {
  height:280px;
  width:100%;
}

.pad > img {
  height:45px;
  width:45px;
  position: absolute;
  margin-left:80%;
}

.member-container h2 {
  margin-left:17px;
}

.member-container h5 {
  margin-left:17px;
}

.since {
  border-bottom: 1px solid gray;
  margin-bottom:7px;
}


/* 【ボディの設定】ここまで -----------------------------------------*/



/* 【フッターの設定】ここから------------------------------------------ */

footer {
  margin-top:30px;
  text-align: center;
}

/* 【フッターの設定】ここまで------------------------------------------ */
